

h1 {
  color: salmon;
  font-family: "BioRhyme", serif;
  font-weight: 800;
  text-align: center;
}

h3 {
  color: salmon;
  font-family: "BioRhyme", serif;
  font-weight: 200;
  text-align: left;
}

.style {
  color: salmon;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  text-align: left;
  border: none;
  cursor: pointer; 
  background-color: floralwhite;
}