<html>
    <head>
        <title>MS88 House Sort</title>
    <!-- Custom CSS -->
    <link href="static/css/style.css" rel="stylesheet">
    </head>
    <body class = "style">
        <h1>The MS88 Sorting Hat</h1>
        <p>Instruction: Answer the seven questions below to figure out which of the three houses at MS88 you belong in. </p>
    
    <form method = "post" action = "/results">
       
        <li>

        <h3> Question 1: What is your favorite color? </h3>
    
                <div>
                    <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
                    <label for="question-1-answers-A"> A) Blue </label>
                </div>
    
                <div>
                    <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
                    <label for="question-1-answers-B">B) Green </label>
                </div>
    
                <div>
                    <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
                    <label for="question-1-answers-C">C) Red </label>
                </div>
    
                <div>
                    <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
                    <label for="question-1-answers-D">D) Yellow </label>
                </div>
            
            </li>

            <li>
                <h3> Question 2: What is your dream pet? </h3>
    
                <div>
                    <input type="radio" name="question-2-answers" id="question-2-answers-A" value="A" />
                    <label for="question-2-answers-A"> A) Dog </label>
                </div>
    
                <div>
                    <input type="radio" name="question-2-answers" id="question-2-answers-B" value="B" />
                    <label for="question-2-answers-B">B) Stick Bugs </label>
                </div>
    
                <div>
                    <input type="radio" name="question-2-answers" id="question-2-answers-C" value="C" />
                    <label for="question-2-answers-C">C) Axolotl </label>
                </div>
    
                <div>
                    <input type="radio" name="question-2-answers" id="question-2-answers-D" value="D" />
                    <label for="question-2-answers-D">D) Cat </label>
                </div>
            </li>

            <li>
                <h3> Question 3: In my free time you can find me: </h3>
    
                <div>
                    <input type="radio" name="question-3-answers" id="question-3-answers-A" value="A" />
                    <label for="question-3-answers-A"> A) Reading a book in the library </label>
                </div>
    
                <div>
                    <input type="radio" name="question-3-answers" id="question-3-answers-B" value="B" />
                    <label for="question-3-answers-B">B) Listening or playing music </label>
                </div>
    
                <div>
                    <input type="radio" name="question-3-answers" id="question-3-answers-C" value="C" />
                    <label for="question-3-answers-C">C) Playing sports </label>
                </div>
    
                <div>
                    <input type="radio" name="question-3-answers" id="question-3-answers-D" value="D" />
                    <label for="question-3-answers-D">D) Studying or completing my own Science Experiments </label>
                </div>
            </li>

            <li>
                <h3> Question 4: What would be your ideal breakfast before school? </h3>
    
                <div>
                    <input type="radio" name="question-4-answers" id="question-4-answers-A" value="A" />
                    <label for="question-4-answers-A"> A) Bagel with Cream Cheese </label>
                </div>
    
                <div>
                    <input type="radio" name="question-4-answers" id="question-4-answers-B" value="B" />
                    <label for="question-4-answers-B">B) Takis and chips for breakfast! </label>
                </div>
    
                <div>
                    <input type="radio" name="question-4-answers" id="question-4-answers-C" value="C" />
                    <label for="question-4-answers-C">C) BEC! </label>
                </div>
    
                <div>
                    <input type="radio" name="question-4-answers" id="question-4-answers-D" value="D" />
                    <label for="question-4-answers-D">D) I never eat breakfast </label>
                </div>
            </li>

             <li>
                <h3> Question 5: Where do you like to eat Lunch at school? </h3>
    
                <div>
                    <input type="radio" name="question-5-answers" id="question-5-answers-A" value="A" />
                    <label for="question-5-answers-A"> A) In the cafeteria, duh </label>
                </div>
    
                <div>
                    <input type="radio" name="question-5-answers" id="question-5-answers-B" value="B" />
                    <label for="question-5-answers-B">B) In a classroom </label>
                </div>
    
                <div>
                    <input type="radio" name="question-5-answers" id="question-5-answers-C" value="C" />
                    <label for="question-5-answers-C">C) I don't go to lunch and just wonder the halls </label>
                </div>
    
                <div>
                    <input type="radio" name="question-5-answers" id="question-5-answers-D" value="D" />
                    <label for="question-5-answers-D">D) In the courtyard </label>
                </div>
            </li>

            <li>
                <h3> Question 6: What is your favorite brand of shoes? </h3>
    
                <div>
                    <input type="radio" name="question-6-answers" id="question-6-answers-A" value="A" />
                    <label for="question-6-answers-A"> A) Vans </label>
                </div>
    
                <div>
                    <input type="radio" name="question-6-answers" id="question-6-answers-B" value="B" />
                    <label for="question-6-answers-B">B) Adidas </label>
                </div>
    
                <div>
                    <input type="radio" name="question-6-answers" id="question-6-answers-C" value="C" />
                    <label for="question-6-answers-C">C) Nike </label>
                </div>
    
                <div>
                    <input type="radio" name="question-6-answers" id="question-6-answers-D" value="D" />
                    <label for="question-6-answers-D">D) Crocs </label>
                </div>
            </li>
            
            <li>
                <h3> Question 7: What is your favorite Subject in School </h3>
    
                <div>
                    <input type="radio" name="question-7-answers" id="question-7-answers-A" value="A" />
                    <label for="question-7-answers-A"> A) Math </label>
                </div>
    
                <div>
                    <input type="radio" name="question-7-answers" id="question-7-answers-B" value="B" />
                    <label for="question-7-answers-B">B) ELA </label>
                </div>
    
                <div>
                    <input type="radio" name="question-7-answers" id="question-7-answers-C" value="C" />
                    <label for="question-7-answers-C">C) Science </label>
                </div>
    
                <div>
                    <input type="radio" name="question-7-answers" id="question-7-answers-D" value="D" />
                    <label for="question-7-answers-D">D) Social Studies </label>
                </div>
            </li>

         <input type="submit" value="Submit Quiz" />
        
        </form>
    </body>
</html>
